<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Wit Bus | Manager Bus Owner</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="owner/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/owl.carousel.css">
    <link rel="stylesheet" href="owner/css/owl.theme.css">
    <link rel="stylesheet" href="owner/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/wave/waves.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="owner/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="owner/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <div  style="width: 100%">
                            <a href="#">
                                <h2 style="width: 50%; float: left; color: white; font-weight: bold;">WitBus</h2>
                            </a>
                            <a href="#" style="float: right;color: white"> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li class="active"><a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Home</a>
                        </li>
                        <li><a href="data-table.html"><i class="notika-icon notika-windows"></i> Your Bus</a>
                        </li>
                        <li><a href="#Forms"><i class="notika-icon notika-form"></i> Booking</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
    <!-- Start Status area -->
    <div class="notika-status-area">
        <div class="container">
            <div class="row">
                <p style="text-align: center;text-transform: uppercase;font-size: 20px;">
                Danh sách xe chạy hôm nay của bạn</p>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"  style="margin-bottom: 20px; ">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span >Tài 1</span></h2>
                            <p>Đà Nẵng - Kon Tum</p>
                            <p style=" color: #666 "><i>Giờ: 20:30 - 05:30</i></p>
                            <p style=" color: #666 "><i>Ngày: 05/04/2019</i></p>
                        </div>
                        <div ><img src="./owner/images/icon-bus.png" width="100" height="100"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"  style="margin-bottom: 20px; ">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span >Tài 2</span></h2>
                            <p>Kon Tum - Sài Gòn</p>
                            <p style=" color: #666 "><i>Giờ: 17:30 - 05:30</i></p>
                            <p style=" color: #666 "><i>Ngày: 05/04/2019</i></p>
                        </div>
                        <div ><img src="./owner/images/icon-bus.png" width="100" height="100"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"  style="margin-bottom: 20px; ">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span >Tài 3</span></h2>
                            <p>Hà Nội - Kon Tum</p>
                            <p style=" color: #666 "><i>Giờ: 17:30 - 17:30</i></p>
                            <p style=" color: #666 "><i>Ngày: 05/04/2019</i></p>
                        </div>
                        <div ><img src="./owner/images/icon-bus.png" width="100" height="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Status area-->
    <!-- Start Sale Statistic area-->
    <!-- End Realtime sts area-->
    <!-- Start Footer area-->
    <div class="footer-copyright-area" style="position: absolute;bottom: 0px;width: 100%">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>Copyright © 2019 
.  by <a href="https://colorlib.com">Thanh Duc</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    <!-- jquery
		============================================ -->
    <script src="owner/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="owner/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="owner/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="owner/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="owner/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="owner/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="owner/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
		============================================ -->
    <script src="owner/js/counterup/jquery.counterup.min.js"></script>
    <script src="owner/js/counterup/waypoints.min.js"></script>
    <script src="owner/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="owner/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jvectormap JS
		============================================ -->
    <script src="owner/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="owner/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="owner/js/jvectormap/jvectormap-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="owner/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="owner/js/sparkline/sparkline-active.js"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="owner/js/flot/jquery.flot.js"></script>
    <script src="owner/js/flot/jquery.flot.resize.js"></script>
    <script src="owner/js/flot/curvedLines.js"></script>
    <script src="owner/js/flot/flot-active.js"></script>
    <!-- knob JS
		============================================ -->
    <script src="owner/js/knob/jquery.knob.js"></script>
    <script src="owner/js/knob/jquery.appear.js"></script>
    <script src="owner/js/knob/knob-active.js"></script>
    <!--  wave JS
		============================================ -->
    <script src="owner/js/wave/waves.min.js"></script>
    <script src="owner/js/wave/wave-active.js"></script>
    <!--  todo JS
		============================================ -->
    <script src="owner/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="owner/js/plugins.js"></script>
	<!--  Chat JS
		============================================ -->
    <script src="owner/js/chat/moment.min.js"></script>
    <script src="owner/js/chat/jquery.chat.js"></script>
    <!-- main JS
		============================================ -->
    <script src="owner/js/main.js"></script>
	<!-- tawk chat JS
		============================================ -->
    <script src="owner/js/tawk-chat.js"></script>
</body>

</html>